.topbar {
  color: #fff;
  background: #59524c;
  height: 62px;
  padding-left: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.main-area {
  padding: 0;
}
h2 {
  line-height: 2.5em;
  font-weight: 500;
}
h3 {
  font-weight: 500;
}